.heading{
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid red;
    text-align: center;
    font-size: 40px;
    margin-top: -23%;
    margin-left: 38.5%;
    width: 23%;
}

.about , .income {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
}
.about .ceo {
    width: 36%;
}
.about .ceo img {
    width: 84%;
    height: 70%;
    margin-top: 5%;
    margin-left: 8%;
}
.name,.post{
    margin-top: 1%;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
}
.name{
    color: red;
    font-size: 30px;
}
.post{
    color: white;
    font-size: larger;
    padding-left: 1%;
    padding-right: 1%;
}
.about .aboutCompany {
    width: 64%;
    text-align: justify;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    overflow-wrap: break-word;
    padding: 20px;
}
.income {
    display: flex;
    flex-direction: row;
}

.culture{
    margin:3% 7%;
    text-align: center;
}
.cultureHead {
    color: #00fcff;
    text-shadow: -2px -2px #d90e16;
    font-size: 40px;
}
.cultureMsg {
    margin:1%;
    color: white;
    font-size: 18px;    
}