.ConnectHead {
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid red;
    text-align: center;
    font-size: 40px;
    margin-top: -23%;
    margin-left: 42.5%;
    width: 15%;
}

.ConnAddress{
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 1.3;
    margin: 2% 7%;
}

.conArea {
    margin: 2% 7%;
    display: flex;
    flex-direction: row;
}

.form {
    width: 27%;
}

.details {  
    width: 27%;
}