.enquire {
    background: black;
    color: white;
    border-bottom: 2px solid red;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    outline: none;
    font-size: 16px;
    margin: 2% 8%;
    width: 81%;
}

.inDetails {
    opacity: 100;
}